body{
    background-image: url('img/web.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-primary-color {
    background-color: #c87e6b;
}

.primary-color{
    color: #fff;
}
 .nav-link{
    color: #fff;
 }
#navbar a:hover{
    color: #765a33;
}
.nav-item:hover{
    font-weight: bold;
}

.navbar-brand{
    display: flex;
}

.navbar-brand img{
    width: 120px;
}

#navbar-items, .navbar-nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#navbar-items .nav-item{
    margin: 0 4em;

}

.btn-rosa{
    background-color: #c87e6b;
    color: #fff;
    font-weight: bold;
    border-radius: 35px;
    padding: 10px 25px;
    border: 1px solid #fff;
    text-align: center;
}

.btn-rosa:hover{
    background-color:#fff;
     color: #c87e6b;
}
.btn-link{
    background-color: #fff;
    color: #787878;
    margin-left: 40px;
    border-radius: 35px;
    padding: 10px 25px;
    border: 1px solid #fff; 
    text-decoration: none;
}

.btn-link:hover{
    background-color: #fff;
    color: #c87e6b;
}

.btn-shop{
    background-color: #787878;
    color: #fff;
    font-weight: bold;
    margin-left: 40px;
    border-radius: 35px;
    padding: 10px 25px;
    border: 1px solid #fff; 
    text-decoration: none;
}

.btn-shop:hover{
    background-color: #fff;
    color:#787878;
}

#principal{
    padding-top: 8vh;
    height: 121vh;
}

#principal h1{
    font-family: 'Nuosu SIL', serif;
    font-weight: bold;
}

#principal h3{
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
}

#principal p{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 19px;
}
#principal-esquerdo{
    margin-top: 200px;
}

#principal-esquerdo h1 {
    color: #484a4b;
}

#principal-esquerdo h3, #principal-esquerdo p  {
     color: #765a33;
}

.navbar-expand-lg .navbar-toggler{
    display: block;
    float: right;
}

#first {
    display: inline;
    width: 25%;
}
#scnd{
    display: inline;
    width: 50%;
}
#third {
    display: inline;
    width: 25%;

}

.offcanvas {
    flex-direction: unset;
}

#brown{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 25vh;
    margin-top: 15vh;
    padding-top: 7vh;
    text-align: center;
    background:#6b502c;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Playfair Display', Serif;
    z-index: 2;
}

#top-produtos{
    margin-top: 30vh;
}

#top-produtos h2{
    font-family: 'Nuosu SIL', serif;
    font-size: 38px;
}

#produtos{
    margin-top: 28vh;
    margin-left: 40px;
}


.deco {
    color: #484a4b;
    font-family: 'Nuosu SIL', serif;
    font-weight: bolder;
}

.deco-2{
    color: #765a33;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    
}

#flores{
    justify-content: space-between;
}

.card-img-top{
    margin-top: 10px;
}

h3.card-title{
    display: inline;
    
}

.card-text{
    font-size: 0.8em;
    text-align: justify;
}

.bnt-card{
    background-color: #454545;
    color: #fff;
    font-weight: bold;
    border-radius: 40px;
    width: 10vw;
    text-decoration: none;
}


.bnt-card :hover{
    background-color: #fff;
    color: #454545; 
}

.div-btn-carousel{
    margin-left: auto;
    margin-right: auto;
    margin-top: 13vh;
    width: 8vw;
}

.btn-carousel{
    border-radius: 50%;
    text-align: center;
    background-color: #484a4b;
    color: #fff;
    padding: 5px;
    border: none;
}

#texto-align{
    margin-top: 250px;
    font-weight: bold;
}

.video{
    margin-top: 15vh;
}

iframe{
    margin-left: 14vw;
}

.title-video{
    margin-top: 10vh;
    padding: 5px;
}

.title-video{
    margin-top: 18vh;
}
/* ------------------------------ */

.oferta{
    margin-top: 31vh;
    height: 58vh;
}

.oferta-left{
    padding-top: 20vh;
    padding-left: 40vh;
}


.oferta-img img{
    min-width: 100%;
    min-height: 98%;
    max-height: 98%;
    max-width: 100%;
}

.best-flowers{
    margin-top: 18vh;
    padding-left: 8vw;
    height: 90vh;
    padding: 0;
    padding-left: 6vw;
    padding-top: 2vh;
}

.best-flowers-right{
  padding-top: 30vh;
}

.best-flowers-img img{
    min-width: 90%;
    min-height: 98%;
    max-height: 98%;
    max-width: 90%;    
}

.detalhes{
    margin-top: 50vh;
    padding: 0;
    height: 90vh;
}

.detalhes-left{
    padding-left: 10vw;
    padding-top: 28vh;
}

.detalhes-img img{
    min-width: 90%;
    min-height: 90%;
    max-height: 90%;
    max-width: 90%;
    padding-left: 10vw; 
}

.love-flowers{
    margin-top: 55vh;
    height: 90vh;
}

.love-flowers-right{
    padding-top: 30vh;
}

.love-flowers-img img{
    min-width: 90%;
    min-height: 98%;
    max-height: 98%;
    max-width: 90%;
    padding-left: 5vw;
}

.form{
    width:40vw;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 30vh;
}

.input:focus {
    outline: none !important;
    border:2px solid #df7f6a;
    box-shadow: 0 0 10px #df7f6a;
  }

.bnt-message{
    background-color: #df7f6a;
    color: #fff;
    font-weight: bold;
    margin-left: 30vh;
    border-radius: 35px;
    padding: 10px 25px;
    border: 1px solid #fff; 
    text-decoration: none; 
}

.bnt-message:hover{
    background-color:#fff ;
    color: #df7f6a;
}

footer{
    background-color: #484a4b;
    margin-top: 4vh;
   
}

.text-white{
    text-decoration: none;
}
